* {
  color: black;
}

body {
  background-color: #d697c3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.birthday-list {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.birthday-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.birthday-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

button {
  background-color: #f28b82;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #e57373;
}